{% extends "lab_8/layout/base.html" %}
{% block content %}
<button style="margin: 0px auto;display:block;background-color: blue;color: white;" class="logout" onclick="facebookLogout()">Logout</button><br>;
    <button style="background-color: blue;color: white;" id = 'fblogin' onclick="facebookLogin()">Login with Facebook</button>
    <h3 class="info-select">Select Your Theme</h3>
    <select class="my-select"></select>
<button class="apply-button">apply</button>
<div id='lab8'></div>
{% endblock %}
